* {
    box-sizing: border-box;
}

.skill-zone {
    margin-top: 110px
}

.design, .frontend {
    float: left;
    width: 50%;
    padding: 10px;

    h2 {
        font-size: 30px;
    }
}

.tools-img {
    position: absolute;
    height: 70%;
    width: 100%;
    right: -90%;
}

